
<a class="arrow-back" routerLink="">
    <mat-icon>arrow_back</mat-icon>
    <!-- <em class="text">Back</em> -->
</a>
<div class="container">


    <h1 class="title">Researcher-Sign Up</h1>
    <div class="content">

        <form class="form" [formGroup]="forms" (ngSubmit)="onSubmit()" apperance="fill">
            <mat-form-field class="form-control">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="text" required />
                <mat-error *ngIf="email?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="email?.hasError('email')">
                    Email isn't valid. Please enter a valid email.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-control">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" type="text" required />
                <mat-error *ngIf="username?.hasError('required')">
                    Username is required
                </mat-error>
           
            </mat-form-field>

            <mat-form-field class="form-control">
                <mat-label>First name</mat-label>
                <input matInput formControlName="first_name" type="text" required />
                <mat-error *ngIf="first_name?.hasError('required')">
                    First name is required
                </mat-error>
                <mat-error *ngIf="first_name?.hasError('pattern')">
                    enter valid name
                </mat-error>
    
            </mat-form-field>

            <mat-form-field class="form-control">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="last_name" type="text" required />
                <mat-error *ngIf="last_name?.hasError('required')">
                    Last name is required
                </mat-error>
                <mat-error *ngIf="last_name?.hasError('pattern')">
                    enter valid name
                </mat-error>
    
            </mat-form-field>


            <mat-form-field class="form-control">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="passVal" matInput formControlName="password" type="password" required  minlength="8" [type]="hide ? 'password' : 'text'"/>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                
                <mat-error *ngIf="password?.hasError('required')">
                    Password is required
                </mat-error>
                <mat-error *ngIf="password?.hasError('minlength')">
                    This password is too short. It must contain at least 8 characters.
                </mat-error>
            </mat-form-field>


            <mat-form-field class="form-control">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmpassword" type="password" required  pattern="{{passVal}}" [type]="hide2 ? 'password' : 'text'"/>
                <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="confirmpassword?.hasError('required')">
                   please confirm your password
                </mat-error>
                <mat-error *ngIf="confirmpassword?.hasError('pattern')">
                    password doesn't match
                </mat-error>
    
            </mat-form-field>
  
            <div class="alert alert-danger" *ngIf="invalidLogin">
                <mat-icon class="pr-5">error</mat-icon>
                {{errorMessage}}
            </div>

            <div class="form-footer pb-4">
                <button [disabled]="this.forms.invalid" class="btn btn-primary card card-small" mat-raised-button type="submit">
                    Sign Up
                </button>
            </div>

        </form>

        <p>Already have an account?<a class="pt-2" routerLink="/login">Login</a></p>



        <div class="form-footer pb-4">
            <button routerLink="/register/respondent" class="btn bg-dark card card-small" mat-raised-button type="submit">
                Sign Up As Respondent
            </button>
        </div>


    </div>