


<a class="arrow-back" routerLink="/login">
    <mat-icon >arrow_back</mat-icon>
    <!-- <em class="text">Back</em> -->
</a>
<div class="container">
    <h1 class="title">Password Reset</h1>
    <div class="content">

        <form class="form" [formGroup]="forms" (ngSubmit)="onSubmit()" apperance="fill">
            <mat-form-field class="form-control">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="text" required />
                <mat-error *ngIf="email?.hasError('required')">
                    Please enter your email address first
                </mat-error>
                <mat-error *ngIf="email?.hasError('email')">
                    Email isn't valid. Please enter a valid email.
                </mat-error>
            </mat-form-field>
            

            <div class="alert alert-danger" *ngIf="invalidLogin">
                <mat-icon class="pr-5">error</mat-icon>
                {{'200: user not found '}}
            </div>


            <div class="form-footer pb-4">
                <button class="btn btn-primary card card-small" mat-raised-button type="submit">
                   Request Reset Link
                </button>
            </div>
        </form>
    </div>