#sub {
    vertical-align: sub;
    font-size: small;
}


.spacer {
    flex: 1;
}




.nav-link:hover {
    color: black
}
.navbar-brand{
    color:whitesmoke;
}

.nav {
    width: 100vw;

  
}
.btn-orange{
    background-color: orangered;
    color: white;
    padding: 6px 12px;
    margin-right: 5px;
}

.navbar-inverse{
    background-color: white;
   
    
}

.nav-link, .navbar-brand{
    color: rgb(255, 187, 60);
}