<!-- <app-navbar (scroll)="onWindowScroll();"> -->
     <app-navbar >
    <div class="contents">
        <div class="hero">
            <div class="container" id="research">
                <div class="left display-4">Create, Conduct & Analyze <br> your Survey</div>
                <div class="right">
                    <ng-lottie [options]="option3" (animationCreated)="animationCreated3($event)"  ></ng-lottie>
                   </div>
            </div>

        </div>
        <div class="hero2">
            <div class="container" id="data">
                <div class="left display-4">Get Quality Data with the help of trusted respondants</div>
       <div class="right">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"  ></ng-lottie>
       </div>
            </div>

        </div>
        <div class="hero3">
            <div class="container" id="time">
                <div class="left display-4" >Save your precious time and energy</div>
        <div class="right">
            <ng-lottie [options]="option2" (animationCreated)="animationCreated2($event)" ></ng-lottie>
        </div>
            </div>
           
            
            
        </div>

    </div>

</app-navbar>