<a class="arrow-back" routerLink="">
    <mat-icon>arrow_back</mat-icon>
</a>
<div class="container">


    <h1 class="title">Respondent-Sign Up</h1>


    <div class="content">

        <form class="form" [formGroup]="forms" (ngSubmit)="onSubmit()" apperance="fill">
            <mat-form-field class="form-control">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="text" required />
                <mat-error *ngIf="email?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="email?.hasError('email')">
                    Email isn't valid. Please enter a valid email.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-control">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" type="text" required />
                <mat-error *ngIf="username?.hasError('required')">
                    Username is required
                </mat-error>
     
            </mat-form-field>

            <mat-form-field class="form-control">
                <mat-label>First name</mat-label>
                <input matInput formControlName="first_name" type="text" required maxlength="150" />
                <mat-error *ngIf="first_name?.hasError('required')">
                    First name is required
                </mat-error>
                <mat-error *ngIf="first_name?.hasError('maxlength')">
                    Required. 150 characters or fewer.
                </mat-error>
                <mat-error *ngIf="first_name?.hasError('pattern')">enter valid name</mat-error>
            </mat-form-field>

            <mat-form-field class="form-control">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="last_name" type="text" required />
                <mat-error *ngIf="last_name?.hasError('required')">
                    Last name is required
                </mat-error>
                <mat-error *ngIf="last_name?.hasError('pattern')">enter valid name</mat-error>
            </mat-form-field>

            <mat-form-field class="form-control">
                <mat-label>Gender</mat-label>
                <mat-select required formControlName="gender">
               
                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                        {{gender.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="gender?.hasError('required')">Please choose your gender</mat-error>

            </mat-form-field>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <mat-form-field appearance="fill">
                <mat-label>Birth date</mat-label>
                <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="datePicker" required>
                <mat-hint>
                    MM/DD/YYYY, Range is b/n (10-100) years.
                </mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

           
                <mat-form-field class="form-control">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="passVal" formControlName="password" type="password" required minlength="8" pattern="{{passVal}}" [type]="hide2 ? 'password' : 'text'"/>
                    <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="password?.hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="password?.hasError('minlength')">
                        This password is too short. It must contain at least 8 characters.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-control">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmpassword" type="password" required pattern="{{passVal}}" pattern="{{passVal}}" [type]="hide2 ? 'password' : 'text'" />
                    <mat-error *ngIf="confirmpassword?.hasError('required')">
                        please confirm your password
                    </mat-error>
                    <mat-error *ngIf="confirmpassword?.hasError('pattern')">
                        password doesn't match
                    </mat-error>

                </mat-form-field>


  

<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

            
            <mat-form-field class="form-control">
                <mat-label>Region</mat-label>
                <mat-select required formControlName="region">
            
                    <mat-option *ngFor="let region of regions" [value]="region.name">
                        {{region.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="region?.hasError('required')">Please choose your region</mat-error>

            </mat-form-field>

            
            <mat-form-field class="form-control">
                <mat-label>Education Level</mat-label>
                <mat-select required formControlName="education_level">
        
                    <mat-option *ngFor="let educationLevel of educationLevels" [value]="educationLevel.id">
                        {{educationLevel.level_name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="education_level?.hasError('required')">Please select your education level</mat-error>

            </mat-form-field>
     
            
            <mat-form-field class="form-control">
                <mat-label>Occupation</mat-label>
                <mat-select required formControlName="occupation">
          
                    <mat-option *ngFor="let occupation of occupations" [value]="occupation.id">
                        {{occupation.work_type}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="occupation?.hasError('required')">Please choose your profession</mat-error>

            </mat-form-field>

            <mat-form-field class="form-control">
                <mat-label>phone number</mat-label>
                <span matPrefix>+ &nbsp;</span>
                <input matInput formControlName="phone_number" type="tel" />
                <mat-hint>optional</mat-hint>
                <mat-error *ngIf="phone_number?.hasError('pattern')">enter valid phone number</mat-error>


            </mat-form-field>
            
            <mat-form-field class="form-control">
                <mat-label>city</mat-label>
                <input matInput formControlName="city" type="text" />
                <mat-hint>optional</mat-hint>

  
            </mat-form-field>





            <div class="alert alert-danger" *ngIf="invalidLogin">
                <mat-icon class="pr-5">error</mat-icon>
                {{errorMessage}}
            </div>

            <div class="form-footer pb-4">
                <button [disabled]="this.forms.invalid" class="btn btn-primary card card-small" mat-raised-button
                    type="submit">
                    Sign Up
                </button>


            </div>

        </form>

        <p>Already have an account?<a class="pt-2" routerLink="/login">Login</a></p>



        <div class="form-footer pb-4">
            <button routerLink="/register" class="btn bg-dark card card-small" mat-raised-button type="submit">
                Sign Up As Researcher
            </button>
        </div>


    </div>